/** User Header */
.userHeader{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1.5rem;
    flex: 1;
}
.userHeader-searchbar{
    border-radius: 0.25rem;
    border: 1px solid #EBEFF2;
    background: #FFF;
    padding: 0.75rem 0.75rem;
    max-width: 28.875rem;
}
.filter-btn:hover svg path{
    stroke: #4096ff;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.filter-btn{
    display: inline-flex;
    padding: 0.25rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    border-radius: 0.25rem;
    border: 1px solid #EBEFF2;
    background: #FFF;
    height: 2.75rem;
    box-shadow: none;
}
.tab-extra-btn{
    display: flex;
    margin-right: 2.75rem;
    color: var(--Secondary-White, #FFF);
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: medium;
    line-height: normal;
    letter-spacing: 0.00813rem;
    border-radius: 0.25rem;
    background: var(--Main-Accent-Blue, #109CF1);
}
.add-user-icon{
    width: 1.25rem;
    height: 1.25rem;
}
/** Table */
.userTable{
    margin-top: 1rem;
    padding-left: 2px;
    position: relative;
    z-index: 1;
}
.actions{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.ant-table-wrapper.userTable table tr td.ant-table-selection-column, .userTable.ant-table-wrapper .ant-table-selection-column{
    padding: 1rem;
}
.ant-table-wrapper.userTable .ant-table-tbody >tr >td{
    padding: 1rem 0 1rem 1rem;
    color: var(--Secondary-Table-gray, #707683);
}
.actions span:hover{
    border-radius: 0.125rem;
    background: #F5F5F5;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.actions span{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
}
.userTable.ant-table-wrapper .ant-table-thead >tr>th::before{
    display: none;
}
.userTable.ant-table-wrapper .ant-table-thead >tr>th{
    border-top: 1px solid #EBEFF2;
    background-color: #FFF;
}
.userTable.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child,
.userTable.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child{
    border-radius: 0;
}
.userTable.ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover{
    background: #fff;
}
.table-header-label{
    color: #334D6E;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;
    
}
.account{
    display: flex;
    gap:0.5rem;
}
.account-details{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.acc-name{
    color: var(--Secondary-Table-black, #323C47);
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.00875rem;
}
.acc-email{
    color: var(--Secondary-Table-gray, #707683);
    font-family: Poppins;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 123.077% */
    letter-spacing: 0.00813rem;
}
.table-body-typo{
    color: var(--Secondary-Table-gray, #707683);
    font-family: Poppins;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.00813rem;
}
.permission-icon-container{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #ebf7ff;
}
.app-permission-tooltip.ant-tooltip .ant-tooltip-inner{
    background-color: #fff;
    font-family: Poppins !important;
}
.table-group{
    border-radius: 4px;
    padding: 4px 12px;
    text-wrap: nowrap;
    background-color: #F5F5F5;
}
.app-permission-tooltip.ant-tooltip .ant-tooltip-content{
    width: fit-content;
}
.table-group-tooltip{
    color: var(--Secondary-Table-gray, #707683);
    border-radius: 4px;
    padding: 4px 12px;
    background-color: #F5F5F5;
    text-wrap: nowrap;
}
.app-permission-menu.ant-menu-horizontal{
    border: none;
}
.app-permission-menu.ant-menu-light.ant-menu-horizontal >.ant-menu-submenu::after{
    border:none;
}