.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 2px;
}
.productName p span{
    color: var(--text-blue);
}
.productName{
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 0.25rem;
    background: var(--bg-white, #FFF);
    color: #334D6E;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
}
.administartor{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--bg-white, #FFF);
    padding: 1rem 1.5rem ;
}
.administartor-data{ display: flex;flex-direction: column;gap: 0.12rem;}
.admin-avatar{
    height: 2.875rem;
    width: 2.875rem;
}
.admin-name-typo{
    color: var(--Secondary-Black, #192A3E);
    /* Medium/14px */
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.admin-role-typo{
    color: #334D6E;
    /* Medium/11px */
    font-family: Poppins;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.00688rem;
}
.admin-mail-typo{
    color: var(--Secondary-Gray, #90A0B7);
    /* Medium/11px */
    font-family: Poppins;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.00688rem;
}
.nav-options{
    background: var(--bg-white, #FFF);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}
.dashboard-options{
    padding: 0.62rem 0.62rem 0.62rem 1.5rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: #334D6E;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00875rem;
    text-transform: capitalize;
    border-left: 0.2rem solid;
    border-color: transparent;
    cursor: pointer;
}
.dashboard-options:hover{
    background: rgba(16, 156, 241, 0.08);
    color: #109CF1;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.00875rem;
}
.dashboard-options.active{
    background: rgba(16, 156, 241, 0.08);
    color: #109CF1;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.00875rem;
    border-color:#109CF1;
}
.active svg g path{
    fill: #109CF1;
}
.sidebar-settings{
    background: var(--Secondary-White, #FFF);
    padding: 1rem 0;
    flex: 1;
}