/** Welcome Text */

.welcome-text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: "Open Sans" !important;
    color: var(--text-blue);
}
.welcome-text span:last-child{
    color: var(--text-color);
}

/** Email Card */
.email-card{
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--bg-white);
    box-shadow: 0px 0.5rem 1.5rem var(--shadow-blue);
}
.login-card{
    width: 24.5rem;
}
.link-txt{
    margin: auto;
    font-family: Poppins;
    margin-bottom: 1rem;
}
.cred-txt{
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 500;
    margin: auto;
    margin-bottom: 0.25rem;

}
.banner-txt{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Poppins;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.small-txt{
    margin-left: 1.5rem;
}
.forget-pass{
    margin: auto;
    margin-top: 1.5rem;
}

/** Login  */
.login{
    height: 100vh;
    width: 100%;
}